<mat-card>
  <div class="header">
    <mat-card-header>
      <mat-card-title> {{ assessment.name }}</mat-card-title>
      <mat-card-subtitle> {{ assessment.description }}</mat-card-subtitle>
    </mat-card-header>
    <button
      mat-raised-button
      color="accent"
      (click)="goBackToAssessment($event)"
    >
      Back <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <p class="total-marks">Total marks : {{ average }}/{{ assessment.maxMarks }}</p>
  <mat-progress-bar
    mode="determinate"
    value="{{ average }}"
  ></mat-progress-bar>
  <div class="scores">
    <app-score-card
      *ngFor="let result of results"
      [result]="result"
      [assessment]="assessment"
    ></app-score-card>
  </div>
</mat-card>
