.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 300px;
}

mat-card {
  padding: 50px;
  background-color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 48%;
}

form > button {
  width: 100%;
  margin-top: 12px;
}
