<footer>
  <div class="container">
    <div class="nav-links">
      <div class="heading">
        Navigate<span><mat-icon>arrow_right_alt</mat-icon></span>
      </div>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="opportunities">Opportunities</a></li>
        <li><a routerLink="candidate">Candidates</a></li>
        <li><a routerLink="assessment">Assessment</a></li>
        <li><a routerLink="onboarding">Onboarding</a></li>
        <li><a routerLink="profile">View Profile</a></li>
      </ul>
    </div>
    <div class="other-links">
      <div class="heading">
        More <span><mat-icon>arrow_right_alt</mat-icon></span>
      </div>
      <ul>
        <li><a href="https://www.accolite.com">Visit Website</a></li>
        <li><a href="https://www.google.com">Visit Google</a></li>
        <li><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></li>
      </ul>
    </div>
    <div class="about">
      <div class="heading">
        About <span><mat-icon>arrow_right_alt</mat-icon></span>
      </div>
      <div class="content">

        <div class="email">
          <div class="heading">Email</div>
          <div class="content">abc@gmail.com</div>
        </div>

        <div class="contact">
          <div class="heading">Contact us</div>
          <div class="content">+91 9988776655</div>
        </div>

        <div class="address">
          <div class="heading">Address us</div>
          <div class="content">Road 1, delhi 110096</div>
        </div>
      </div>
    </div>
  </div>
</footer>
