mat-card {
    margin: 10px;
    width: 340px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    button {
        margin: 10px;
    }
}

.score-bu {
    background-color: #1b924c;
}